.hero-slider {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.hero-slide {
  min-width: 100%;
  flex-shrink: 0;
}
.img-fluid1{
    max-width: 150%!important;
}
.consult-button1 {
    border: 2px solid #ff6347;  
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    border-radius: 40px;          
    padding: 8px 16px;          
}
.consult-button1:hover {
    background-color: #ff6347;  
    color: white;               
}
